#description {
  text-align: justify;
}
.link {
  border: solid 1px;
  display: block;
  padding: 5px;
  border-radius: 5px;
  background-color: #159957;
  border-color: #159957;
  width: 250px;
  height: 50px;
  text-align: center;
  color: white;
  font-weight: bold;
}
.link:hover {
  text-decoration: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.external-link {
  height: 1em;
  width: auto;
  display: inline-block;
}
