.home .title {
  text-align: center;
  margin-top: 150px;
}
.home .description {
  text-align: justify;
  padding: 50px;
}
.home .ref-links {
  text-align: center;
  margin-top: 100px;
  margin-bottom: 100px;
}
.home .ref-links a {
  border: 1px solid;
  display: inline;
  text-align: center;
  width: 50%;
  padding: 10px;
  margin: 5px;
}
.home .ref-links a:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

@media (max-width: 600px) {
  .home .title {
    margin-top: 50px;
  }
  .home .description {
    padding: 10px;
  }
  .home {
    padding: 25px;
  }
  .home .ref-links {
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .home .ref-links a {
    display: block;
    width: 100%;
    margin-bottom: 20px;
  }
}
