body {
  hyphens: auto;
  word-wrap: break-word;
  background-attachment: fixed;
  background-color: white;
  background-image: linear-gradient(rgb(0, 139, 139, 0.25), white);
}
.page-title {
  color: white;
}
.page-title:hover {
  text-decoration: none;
  text-shadow: 0 0 0 white, 0 0 7px black, 0 0 5px white;
}
