/* General structure */

.NBNF_rule_wrapper {
  width: inherit;
  overflow: auto;
  white-space: nowrap;
  font-family: monospace;
  background-color: #444444;
  color: White;
  border: none;
  margin-bottom: 20px;
}
.NBNF_rule_wrapper {
  padding: 10px;
}
.NBNF_rule_wrapper tr td {
  border: none;
  padding: 3px;
}


/* Colors */

.NBNF_nonterm_rule_lhs {
  color: #6699FF;
}
.NBNF_alphabet_rule_lhs {
  color: #6699FF;
}
.NBNF_alphabet {
  color: LightSeaGreen;
}
.NBNF_alphabet a {
  color: LightSeaGreen;
}
.NBNF_non_terminal a {
  color: #CC66FF;
}
.NBNF_case_sensitive_string {
  color: LightGreen;
}
.NBNF_case_insensitive_string {
  color: LightGreen;
}
.NBNF_case_sensitive_char {
  color: LightGreen;
}
.NBNF_case_insensitive_char {
  color: LightGreen;
}
.NBNF_char {
  color: LightGreen;
}
.NBNF_escaped {
  color: Aqua;
}


/* Misc */

.NBNF_operator {
  vertical-align: super;
}
