#syntax-ref {
  text-align: justify;
}
.reference {
}
.reference .toc ul {
  padding: 20px;
}
.reference .toc ul ul {
  border: none;
  padding-top: 0;
  padding-bottom: 0;
}
.reference .toc ul ul ul {
  border: none;
  padding-top: 0;
  padding-bottom: 0;
}
.reference .toc ul ul ul ul {
  border: none;
  padding-top: 0;
  padding-bottom: 0;
}
.reference .toc li {
  list-style: none;
}
.reference tr td, .reference tr th {
  border: solid 1px;
}
